.cropped {
    display: block;
    width: auto;
    min-height: 100px;
    max-height: 100px;
}

.preview {
    overflow: hidden;
    width: 160px; 
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}